{% extends 'index.html' %} {% block content %}
<!--image slider-->
<div id="slides" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://static01.nyt.com/images/2020/04/10/us/00virus-springbreak04/00virus-springbreak04-superJumbo.jpg?quality=90&auto=webp"
      />
      <div class="carousel-caption">
        <h1
          class="display-2"
          style="
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
              sans-serif;
          "
        >
          COVIDSeek
        </h1>
        <h3>
          Giving people and our healthcare system the facts they need to survive
          the pandemic
        </h3>
        <a
          id="get-started"
          href="/initial"
          class="btn btn-outline-light btn-lg"
          style="
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
              sans-serif;
          "
        >
          Learn How
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
