{% extends "index.html" %} {% block content %}
<!--meet team-->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Meet The Team</h1>
    </div>
    <hr />
  </div>
</div>
<!--card-->
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-6">
      <div class="card">
        <img
          class="card-img-top"
          src="https://i.postimg.cc/7byryWhm/shreyas.jpg"
          alt="team1"
        />
        <div class="card-body">
          <h4 class="card-title">Shreyas Chennamaraja</h4>
          <p class="card-text">
            Shreyas is a rising junior at TJHSST. He is familiar with languages
            such as HTML5, CSS, JavaScript, Python, and Java, and frameworks
            such as Bootstrap, React, NodeJS, and Flask.
          </p>
          <a href="#" class="btn btn-outline-secondary">See profile</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <img
          class="card-img-top"
          src="https://i.postimg.cc/9w2pNTWY/aryan.png"
          alt="team2"
        />
        <div class="card-body">
          <h4 class="card-title">Aryan Agrawal</h4>
          <p class="card-text">
            Insert Description
          </p>
          <a href="" class="btn btn-outline-secondary">See profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
